.side-bar-ranking
  .side-bar-ranking__frame
    .ranking__title
      %p 〜おすすめランキング〜
      - @ranking_recipes.each.with_index(1) do |recipe,i|
        = link_to(recipe_path(recipe.id), class: "single-item") do
          .each-ranking-recipe
            .ranking-recipe__rank
              %p #{i}位
            .ranking-recipe__title #{recipe.title}
            .ranking-recipe__image
              = image_tag recipe.image.to_s, size: "170x170"
