- if user_signed_in?
  - if recipe.like_user(current_user.id)
    = button_to recipe_like_path(recipe, Like.where(recipe_id: recipe.id, user_id: current_user.id)), method: :delete, id: "like-button", remote: true do
      %p おすすめ！
  - else
    = button_to recipe_likes_path(recipe), id: "dislike-button", remote: true do
      %p おすすめ！


