.main{
  height: 100%;
  width: 840px;
  background-color: #FFFFDD;
  float: left;
  margin: 5px;
  border-radius: 5px;
  border: solid 1px #3CB371;
  border-top: solid 5px #3CB371;
  p { font-size: 25px;
      color : #3CB371;
      background-color: #fafafa}
  }
