.new-recipe{
  height: 820px;
  width: 640px;
  background-color: #ffffff;
  margin: 20px;
  border: solid 1px #ded5c0;
  border-radius: 5px
}

.new-recipe-form{
  margin: 20px;
}

.recipe__title{
  p { font-size: 20px;
      color : #889b00;
      font-weight: 600;
  }
}

.recipe__titie-form{
  height: 30px;
  width: 280px;
  margin-top: 15px;
}

.recipe__image{
  height: 400px;
  width: 280px;
  margin-top: 20px;
  float: left;
  border: solid 1px #ded5c0;
}

.new-recipe-form-upper-right{
  float:right;
}

.recipe__catch-copy{
  margin-top: 15px;
  margin-right: 10px;
  float:right;
  p { font-size: 15px;
      color : #889b00;
    }
}

.catch-copy-form{
  height: 60px;
  width: 288px;
}

.recipe__materials{
  display: block;
  p { font-size: 15px;
      color : #889b00;
    }
  float:left;
  clear:both;
  li{list-style-type: none;}
}

.recipe__steps{
  height: 215px;
  width: 600px;
  margin-top: 434px;
  li{list-style-type: none;
    }
  p { font-size: 15px;
      color : #889b00;
    }
}

.step-form{
  height: 40px;
  width: 590px;
  margin-top: 5px;

}

.submit-button{
  float: right;
  margin-right: 25px;
  margin-top: 20px;
  width: 160px;
  border-radius: 5px ;
  color: white;
  background-color: #FF9933;
  font-size: 16px;
}


