.side-bar{
  height: 972px;
  float: left;
  width: 240px;
  background-color: #FFCC99;
  margin: 5px;
  border-radius: 5px;
}

.side-bar-ranking__frame{
  padding: 20px 10px;

}

.ranking__title{
  padding-bottom: 10px;
}

.single-item{
  padding-left: 25px;
}
.ranking__title p{
  text-align: center;
  font-size: 18px;
}
.ranking-recipe__title{
  a { font-size: 16px;
      color : #4d2200;
      font-weight: 500;
    }
}
.ranking-recipe__image img{
  border-radius: 5px
}

.ranking-recipe__rank p{
  // padding-top: 20px;
  font-size: 20px;
  text-align: center;
}
