.user-page{
  height: 820px;
  width: 640px;
  background-color: #ffffff;
  margin: 20px;
  border: solid 1px #ded5c0;
  border-radius: 5px;
  font-size: 20px;
}

.user-page__pad{
  padding: 20px;
}

.user-page__likes__recipes{
  padding-top: 10px;
  width: 600px;
  font-size: 16px;
}

.user-page__likes__recipe{
  width: 200px;
  height: 300px;
  float: left;
}

.user-page__likes__recipe-title{
  padding-top: 10px;
  padding-left: 10px;
  a{color: #889b00;}
}

.user-page__likes__recipe-image{
  padding: 5px 10px;
}

.user-page__likes__recipe-catchcopy{
  padding: 5px 10px;
}
